html
	head
		meta(charset='utf8')
		meta(name="viewport" content="width=device-width, user-scalable=no")
		:inject-favicons-headers
		title Web Starter
		link(rel='stylesheet' href='/style.css')

body
	div.container
		h1.header
			a(href='/') Web Starter
		block body
